/* 清除浮动 */

.clearfix::after {
    content: '';
    display: inline-block;
    height: 0;
    clear: both;
}


/* 左浮动 */

.fl {
    float: left;
}


/* 右浮动 */

.fr {
    float: right;
}


/* 版心 */

.container {
    width: 1200px;
    margin: 0 auto;
}


/*=============================1.顶部================*/


/* 顶部外层容器 */

.topbar {
    height: 28px;
    background-color: #101010;
}


/* 顶部里层容器 */

.topbar .container {
    height: 28px;
    background-color: #101010;
}


/* 里面的P标签 */

.topbar .container p {
    height: 28px;
    line-height: 28px;
    color: #f1f1f1;
}


/* 第一个P标签 */

.topbar .container p:first-child {
    text-indent: 210px;
}


/* 第二个P标签 */

.topbar .container p:nth-child(2) {
    margin-right: 10px;
}


/* 第一个P标签下面的a标签 */

.topbar .container p:first-child a {
    color: #fff;
    text-decoration: none;
    text-indent: 210px;
}


/* 第二个P标签 下面的标题 和 注册 */

.topbar .container p:nth-child(2) .title,
.topbar .container p:nth-child(2) .register {
    color: #ff6700;
}


/*第二个P标签下面的登录*/

.topbar .container p:nth-child(2) .login {
    color: #fff;
}


/*=============2.导航==================*/

.nav {
    height: 80px;
    background-color: #fff;
}


/* 搜索购物车订单大容器 */

.nav .search-shopcart-order {
    margin-top: 5px;
    height: 35px;
}


/* 搜索框 */

.nav .search-shopcart-order .search-input {
    width: 440px;
    height: 35px;
    background-color: #ff6700;
    margin-right: 38px;
}


/* 搜索框中的图标span */

.nav .search-shopcart-order .search-input span {
    display: inline-block;
    width: 50px;
    height: 35px;
    position: absolute;
    background-image: url(../img/img/bgicon.png);
}


/* 购物车和订单 */

.nav .search-shopcart-order .shopcart-order {
    width: 200px;
    height: 35px;
    background-color: pink;
    font-size: 0;
}


/* 购物车订单按钮 */

.nav .search-shopcart-order .shopcart-order button {
    width: 100px;
    height: 35px;
    background-color: #ebebeb;
    border: 1px solid #ccc;
    font-size: 13px;
    color: #333;
}


/* 购物车按钮和图标 */

.nav .search-shopcart-order .shopcart-order button:nth-child(1) {
    background-color: #ff6700;
    color: #ccc;
    background-image: url(../img/img/bgicon.png);
    background-position: -5px -44px;
}


/* 搜索框 */

.nav .search-shopcart-order .search-input .search {
    width: 390px;
    height: 31px;
    border: 2px solid #ff6700;
    text-indent: 10px;
    color: #333;
    outline: none;
}


/* 分类导航 */

.nav .category-menu {
    margin-top: 15px;
    height: 30px;
    background-color: #fff;
}

.nav .category-menu .left-logo {
    width: 200px;
    height: 30px;
    position: relative;
}

.nav .category-menu .left-logo img {
    position: absolute;
    top: -83px;
    bottom: 0px;
}

.nav .category-menu ul {
    width: 1000px;
    height: 30px;
}

.nav .category-menu ul li {
    float: left;
    height: 30px;
    line-height: 30px;
    width: 80px;
    color: #333;
    font-size: 14px;
    text-align: center;
    font-weight: 700;
}


/*11.=============尾部=========*/

.footer {
    height: 500px;
    border-top: 6px solid #ff6700;
    text-align: center;
}

.footer .ads {
    height: 100px;
    background-color: #ebebeb;
}

.footer .ads img {
    margin-top: 21px;
    margin-right: 55px;
}


/* 尾部列表 */

.footer .footer-list {
    height: 236px;
    font-size: 16px;
    margin-left: 232px;
}

.footer .footer-list div {
    margin-left: 61px;
    margin-top: 30px;
}

.footer .footer-list div>ul>li {
    margin-top: 10px;
    color: #353535;
}

.footer .footer-list div>ul>li:first-child {
    font-size: 18px;
    font-weight: 200px;
    color: #000;
}

.footer .footer-list div:last-child>img {
    margin-top: 39px;
}


/* 底部链接 */

.footer .link {
    height: 50px;
    margin-left: 239px;
    font-size: 15px;
    color: #353535;
}

.footer .link>div {
    width: 100px;
}

.footer .link>div:not(:last-child) {
    border-right: 1px solid #353535;
}

.footer .link .elink {
    width: 152px;
}

.footer>p {
    font-size: 16px;
    color: #353535;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}