/*=============================1.顶部================*/


/* 顶部外层容器 */

.topbar {
    height: 28px;
    background-color: #101010;
}


/* 顶部里层容器 */

.topbar .container {
    height: 28px;
    background-color: #101010;
}


/* 里面的P标签 */

.topbar .container p {
    height: 28px;
    line-height: 28px;
    color: #f1f1f1;
}


/* 第一个P标签 */

.topbar .container p:first-child {
    text-indent: 210px;
}


/* 第二个P标签 */

.topbar .container p:nth-child(2) {
    margin-right: 10px;
}


/* 第一个P标签下面的a标签 */

.topbar .container p:first-child a {
    color: #fff;
    text-decoration: none;
    text-indent: 210px;
}


/* 第二个P标签 下面的标题 和 注册 */

.topbar .container p:nth-child(2) .title,
.topbar .container p:nth-child(2) .register {
    color: #ff6700;
}


/*第二个P标签下面的登录*/

.topbar .container p:nth-child(2) .login {
    color: #fff;
}


/*=============2.导航==================*/

.nav {
    height: 80px;
    background-color: #fff;
}


/* 搜索购物车订单大容器 */

.nav .search-shopcart-order {
    margin-top: 5px;
    height: 35px;
}


/* 搜索框 */

.nav .search-shopcart-order .search-input {
    width: 440px;
    height: 35px;
    background-color: #ff6700;
    margin-right: 38px;
}


/* 搜索框中的图标span */

.nav .search-shopcart-order .search-input span {
    display: inline-block;
    width: 50px;
    height: 35px;
    position: absolute;
    background-image: url(../img/img/bgicon.png);
}


/* 购物车和订单 */

.nav .search-shopcart-order .shopcart-order {
    width: 200px;
    height: 35px;
    background-color: pink;
    font-size: 0;
}


/* 购物车订单按钮 */

.nav .search-shopcart-order .shopcart-order button {
    width: 100px;
    height: 35px;
    background-color: #ebebeb;
    border: 1px solid #ccc;
    font-size: 13px;
    color: #333;
}


/* 购物车按钮和图标 */

.nav .search-shopcart-order .shopcart-order button:nth-child(1) {
    background-color: #ff6700;
    color: #ccc;
    background-image: url(../img/img/bgicon.png);
    background-position: -5px -44px;
}


/* 搜索框 */

.nav .search-shopcart-order .search-input .search {
    width: 390px;
    height: 31px;
    border: 2px solid #ff6700;
    text-indent: 10px;
    color: #333;
    outline: none;
}


/* 分类导航 */

.nav .category-menu {
    margin-top: 15px;
    height: 30px;
    background-color: #fff;
}

.nav .category-menu .left-logo {
    width: 200px;
    height: 30px;
    position: relative;
}

.nav .category-menu .left-logo img {
    position: absolute;
    top: -83px;
    bottom: 0px;
}

.nav .category-menu ul {
    width: 1000px;
    height: 30px;
}

.nav .category-menu ul li {
    float: left;
    height: 30px;
    line-height: 30px;
    width: 80px;
    color: #333;
    font-size: 14px;
    text-align: center;
    font-weight: 700;
}


/*3.===============分类导航和banner==================*/

.menu {
    height: 430px;
}

.menu .sideMenu {
    height: 430px;
    width: 200px;
    background-color: darkgray;
}

.menu .sideMenu ul {
    height: 430px;
    width: 200px;
    background-color: #f3f3f3;
    position: relative;
}

.menu .sideMenu ul li {
    height: 30px;
    line-height: 30px;
    width: 200px;
    text-indent: 20px;
}

.menu .sideMenu ul li a {
    color: #353535;
    text-decoration: none;
}

.menu .sideMenu ul li a:hover {
    color: #ff6700;
}

.menu .sideMenu ul li:hover {
    background: #fff;
}

.menu .sideMenu ul li:hover a {
    color: #ff6700;
}

.menu .sideMenu ul li .title {
    width: 200px;
    height: 30px;
    line-height: 30px;
}

.menu .sideMenu ul li:hover .title {
    background-color: #fff;
    position: absolute;
    z-index: 99;
}

.menu .sideMenu ul li:hover .subMenu {
    display: block;
}

.menu .sideMenu ul li .subMenu {
    position: absolute;
    z-index: 1;
    left: 198px;
    top: 0px;
    border: 2px solid #ff6700;
    background-color: #fff;
    height: 426px;
    width: 426px;
    display: none;
}

.menu .banner {
    height: 430px;
    width: 1000px;
}


/*4.===============今日推荐===============*/

.recommend {
    height: 500px;
}


/* 标题 */

.recommend .title {
    width: 1200px;
    height: 40px;
    margin-top: 10px;
    text-indent: 24px;
    font-size: 24px;
    font-weight: 300px;
    color: #ff6700;
    background-color: #fff;
    border-bottom: 6px solid #ff6700;
}


/* 推荐内容 */

.recommend .recommend-content {
    width: 1190px;
    height: 498px;
    margin: 0 auto;
    /* background-color: #ff6700; */
}


/* 列表容器 */

.recommend .recommend-content ul {
    width: 1190px;
    height: 459px;
    margin: 0 auto;
    background-color: #ff6700;
}


/* 推荐列表li */

.recommend .recommend-content ul li {
    width: 196px;
    height: 226px;
    background-color: #fff;
    float: left;
    margin-left: 2px;
    margin-bottom: 2px;
}


/* 整体居中 */

.recommend .recommend-content ul li {
    text-align: center;
}


/* p标签样式 */

.recommend .recommend-content ul li p {
    text-align: left;
    text-indent: 10px;
    font-size: 14px;
}


/* 限时 */

.recommend .recommend-content ul li p.limit-time {
    text-align: left;
    text-indent: 0;
}


/* 全国联保 */

.recommend .recommend-content ul li p.text {
    color: red;
}


/* 价格 */

.recommend .recommend-content ul li p.price {
    color: red;
    font-size: 20px;
    font-weight: 100px;
}

.recommend .recommend-content ul li img.img {
    width: 139px;
    height: 136px;
}


/*5.============电子书==============*/

.ebooks {
    height: 500px;
    margin-top: 34px;
}


/* 左侧盒子 */

.ebooks .left-box {
    width: 906px;
    height: 60px;
}

.ebooks .left-box .top {
    width: 906px;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    border-bottom: 6px solid #ff6700;
}


/* 标题 */

.ebooks .left-box .top .title {
    text-indent: 24px;
    font-size: 24px;
    font-weight: 300;
    color: #000;
}


/* 右侧标题 */

.ebooks .left-box .top ul li {
    float: left;
    font-size: 20px;
    width: 100px;
    text-align: center;
}


/* 右侧激活类 */

.ebooks .left-box .top ul li.active {
    background-color: #ff6700;
    color: #fff;
}


/* 下部分内容 */

.ebooks .left-box .content {
    height: 454px;
    width: 906px;
}


/* 左侧广告 */

.ebooks .left-box .content .ads {
    height: 455px;
    width: 236px;
    background-color: #ebebeb;
}

.ebooks .left-box .content .ads .top-img {
    width: 236px;
    height: 290px;
}

.ebooks .left-box .content .ads .bottom-text {
    width: 236px;
    height: 160px;
}

.ebooks .left-box .content .ads .bottom-text ul {
    width: 235px;
    height: 160px;
    margin-left: 1px;
    margin-top: 10px;
}

.ebooks .left-box .content .ads .bottom-text ul li {
    float: left;
    width: 78px;
    height: 43px;
    text-indent: 5px;
    font-size: 14px;
}


/* 右侧图书列表 */

.ebooks .left-box .content .ebooks-list {
    height: 455px;
    width: 670px;
    background-color: #ccc;
}

.ebooks .left-box .content .ebooks-list>ul>li {
    float: left;
    height: 226px;
    width: 165px;
    background-color: #fff;
    margin-left: 2px;
    margin-bottom: 2px;
    text-align: center;
}

.ebooks .left-box .content .ebooks-list ul>li>p {
    margin-top: 5px;
    text-align: left;
    text-indent: 10px;
}

.ebooks .left-box .content .ebooks-list>ul>li>img {
    margin: 15px auto;
}

.ebooks .left-box .content .ebooks-list>ul>li>p:first-child {
    font-size: 18px;
}

.ebooks .left-box .content .ebooks-list>ul>li p:last-child {
    font-size: 18px;
}

.ebooks .left-box .content .ebooks-list>ul>li>p:not(:first-child) {
    color: red;
}


/* 一个特别的li 将来的轮播容器 */

.ebooks .left-box .content .ebooks-list>ul>li:first-child {
    background-color: green;
    height: 226px;
    width: 332px;
}

.ebooks .left-box .content .ebooks-list>ul>li:first-child .pptbox {
    height: 226px;
    width: 332px;
    background-color: pink;
}


/* 右侧盒子 */

.ebooks .right-box {
    width: 286px;
    height: 460px;
    margin-top: 40px;
    border: 2px solid #ccc;
    /* 变成怪异盒子 */
    box-sizing: border-box;
}

.ebooks .right-box .title {
    text-align: center;
    height: 50px;
    text-indent: 50px;
    font-size: 24px;
    color: #333;
    font-weight: 200;
}

.ebooks .right-box ul li {
    line-height: 42px;
    font-size: 16px;
    text-indent: 5px;
}

.ebooks .right-box ul li .desc.active {
    display: block;
}

.ebooks .right-box ul li p:last-child {
    line-height: 16px;
}

.ebooks .right-box ul li .desc img {
    margin-right: 12px;
    margin-left: 10px;
}


/* 新书列表交互相关样式 */

.ebooks .right-box ul li .desc {
    font-size: 16px;
    line-height: 20px;
    height: 150px;
    color: #333;
    /* 隐藏:详情默认所有都是隐藏的，只有第一个显示*/
    display: none;
    margin-right: 9px;
}

.ebooks .right-box ul li:first-child .eboos-title {
    /* 默认所有标题都显示 只有第一个隐藏 */
    display: none;
}

.right-box .right-box ul li:first-child .desc {
    /* 默认第一个显示详情 */
    display: block;
}


/*6.========服装================*/

.clothes {
    margin-top: 34px;
    height: 617px;
    /* background-color: blueviolet; */
}

.clothes .top {
    width: 1200px;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    border-bottom: 6px solid #ff6700;
}


/* 标题 */

.clothes .top .title {
    text-indent: 24px;
    font-size: 24px;
    font-weight: 300;
    color: #000;
}


/* 右侧标题 */

.clothes .top ul li {
    float: left;
    font-size: 20px;
    width: 100px;
    text-align: center;
}


/* 右侧激活类 */

.clothes .top ul li.active {
    background-color: #ff6700;
    color: #fff;
}


/* 内容 */

.clothes .content {
    width: 1200px;
    height: 508px;
    /* background-color: #ebebeb; */
}


/* 左侧广告 */

.clothes .content .ads {
    height: 508px;
    width: 237px;
}

.clothes .content .ads .top-img {
    width: 237px;
    height: 348px;
}

.clothes .content .ads .bottom-text {
    width: 237px;
    height: 150px;
    background-color: #fff;
}

.clothes .content .ads .bottom-text>ul {
    width: 235px;
    height: 160px;
    margin-left: 1px;
    margin-top: 10px;
}

.clothes .content .ads .bottom-text>ul>li {
    float: left;
    width: 78px;
    height: 43px;
    text-indent: 5px;
    font-size: 14px;
}


/* 右侧图书列表 */

.clothes .content .clothes-list {
    width: 963px;
    height: 508px;
    background-color: #ccc;
}

.clothes .content .clothes-list>ul>li {
    float: left;
    height: 334px;
    width: 171px;
    margin-left: 2px;
    margin-bottom: 2px;
}

.clothes .content .clothes-list>ul>li:first-child {
    width: 440px;
    height: 334px;
}

.clothes .content .clothes-list>ul:last-child>li {
    float: left;
    height: 170px;
    width: 171px;
    margin-left: 2px;
    margin-bottom: 2px;
}

.clothes .content .clothes-list>ul:last-child>li:first-child {
    width: 440px;
    height: 170px;
}

.clothes .content .clothes-list>ul:last-child>li:first-child>img {
    width: 440px;
    height: 170px;
}


/* 底部logo */

.clothes .logo>ul>li {
    float: left;
    height: 63px;
    width: 131px;
    margin-left: 2px;
    margin-bottom: 2px;
    text-align: center;
}

.clothes .logo>ul>li>img {
    height: 63px;
    width: 131px;
}


/*=============7.户外运动===============*/

.sport {
    margin-top: 34px;
    height: 617px;
    /* background-color: blueviolet; */
}

.sport .top {
    width: 1200px;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    border-bottom: 6px solid #ff6700;
}


/* 标题 */

.sport .top .title {
    text-indent: 24px;
    font-size: 24px;
    font-weight: 300;
    color: #000;
}


/* 右侧标题 */

.sport .top ul li {
    float: left;
    font-size: 20px;
    width: 100px;
    text-align: center;
}


/* 右侧激活类 */

.sport .top ul li.active {
    background-color: #ff6700;
    color: #fff;
}


/* 内容 */

.sport .content {
    width: 1200px;
    height: 508px;
    /* background-color: #ebebeb; */
}


/* 左侧广告 */

.sport .content .ads {
    height: 508px;
    width: 237px;
}

.sport .content .ads .top-img {
    width: 237px;
    height: 348px;
}

.sport .content .ads .top-img img {
    width: 237px;
    height: 348px
}

.sport .content .ads .bottom-text {
    width: 237px;
    height: 150px;
    background-color: #fff;
}

.sport .content .ads .bottom-text>ul {
    width: 235px;
    height: 160px;
    margin-left: 1px;
    margin-top: 10px;
}

.sport .content .ads .bottom-text>ul>li {
    float: left;
    width: 78px;
    height: 43px;
    text-indent: 5px;
    font-size: 14px;
}


/* 右侧户外运动列表 */

.sport .content .sport-list {
    width: 963px;
    height: 508px;
    background-color: #ccc;
}

.sport .content .sport-list>ul>li {
    float: left;
    height: 334px;
    width: 171px;
    margin-left: 2px;
    margin-bottom: 2px;
}

.sport .content .sport-list>ul:first-child>li>img {
    width: 171px;
    height: 334px;
}

.sport .content .sport-list>ul>li:first-child {
    width: 440px;
    height: 334px;
}

.sport .content .sport-list>ul:last-child>li {
    float: left;
    height: 170px;
    width: 171px;
    margin-left: 2px;
    margin-bottom: 2px;
}

.sport .content .sport-list>ul:last-child>li>img {
    width: 171px;
    height: 170px;
}

.sport .content .sport-list>ul:last-child>li:first-child {
    width: 440px;
    height: 170px;
}

.sport .content .sport-list>ul:last-child>li:first-child>img {
    width: 440px;
    height: 170px;
}


/* 底部logo */

.sport .logo>ul>li {
    float: left;
    height: 63px;
    width: 131px;
    margin-left: 2px;
    margin-bottom: 2px;
    text-align: center;
}

.sport .logo>ul>li>img {
    height: 63px;
    width: 131px;
}


/*8.============童装==========*/

.children-clothes {
    margin-top: 34px;
    height: 617px;
    /* background-color: blueviolet; */
}

.children-clothes .top {
    width: 1200px;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    border-bottom: 6px solid #ff6700;
}


/* 标题 */

.children-clothes .top .title {
    text-indent: 24px;
    font-size: 24px;
    font-weight: 300;
    color: #000;
}


/* 右侧标题 */

.children-clothes .top ul li {
    float: left;
    font-size: 20px;
    width: 100px;
    text-align: center;
}


/* 右侧激活类 */

.children-clothes .top ul li.active {
    background-color: #ff6700;
    color: #fff;
}


/* 内容 */

.children-clothes .content {
    width: 1200px;
    height: 508px;
    /* background-color: #ebebeb; */
}


/* 左侧广告 */

.children-clothes .content .ads {
    height: 508px;
    width: 237px;
}

.children-clothes .content .ads .top-img {
    width: 237px;
    height: 348px;
}

.children-clothes .content .ads .top-img img {
    height: 348px;
    width: 237px;
}

.children-clothes .content .ads .bottom-text {
    width: 237px;
    height: 150px;
    background-color: #fff;
}

.children-clothes .content .ads .bottom-text>ul {
    width: 235px;
    height: 160px;
    margin-left: 1px;
    margin-top: 10px;
}

.children-clothes .content .ads .bottom-text>ul>li {
    float: left;
    width: 78px;
    height: 43px;
    text-indent: 5px;
    font-size: 14px;
}


/* 右侧童装列表 */

.children-clothes .content .children-clothes-list {
    width: 963px;
    height: 508px;
    background-color: #ccc;
}

.children-clothes .content .children-clothes-list>ul>li {
    float: left;
    height: 334px;
    width: 171px;
    margin-left: 2px;
    margin-bottom: 2px;
}

.children-clothes .content .children-clothes-list>ul>li>img {
    height: 170px;
    width: 171px;
}

.children-clothes .content .children-clothes-list>ul>li:first-child {
    width: 440px;
    height: 334px;
}

.children-clothes .content .children-clothes-list>ul:last-child>li {
    float: left;
    height: 170px;
    width: 171px;
    margin-left: 2px;
    margin-bottom: 2px;
}

.children-clothes .content .children-clothes-list>ul:last-child>li:first-child {
    width: 440px;
    height: 170px;
}

.children-clothes .content .children-clothes-list>ul:last-child>li:first-child>img {
    width: 440px;
    height: 170px;
}


/* 底部logo */

.children-clothes .logo>ul>li {
    float: left;
    height: 63px;
    width: 131px;
    margin-left: 2px;
    margin-bottom: 2px;
    text-align: center;
}

.children-clothes .logo>ul>li>img {
    height: 63px;
    width: 131px;
}


/*9.===============家居日用=================*/

.daily {
    margin-top: 34px;
    height: 554px;
    /* background-color: blueviolet; */
}

.daily .top {
    width: 1200px;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    border-bottom: 6px solid #ff6700;
}


/* 标题 */

.daily .top .title {
    text-indent: 24px;
    font-size: 24px;
    font-weight: 300;
    color: #000;
}


/* 内容 */

.daily .content {
    width: 1200px;
    height: 508px;
    /* background-color: #ebebeb; */
}


/* 左侧广告 */

.daily .content .ads {
    height: 508px;
    width: 506px;
    background-color: #ccc;
}

.daily .content .ads>ul>li {
    float: left;
    height: 508px;
    width: 504px;
    margin-left: 2px;
    margin-bottom: 2px;
}

.daily .content .ads>ul>li>img {
    height: 508px;
    width: 504px;
}


/* 右侧童装列表 */

.daily .content .daily-list {
    width: 694px;
    height: 508px;
    background-color: #ccc;
}

.daily .content .daily-list>ul>li {
    float: left;
    height: 334px;
    width: 171px;
    margin-left: 2px;
    margin-bottom: 2px;
}

.daily .content .daily-list>ul>li>img {
    height: 170px;
    width: 171px;
}

.daily .content .daily-list>ul:last-child>li {
    float: left;
    height: 170px;
    width: 171px;
    margin-left: 2px;
    margin-bottom: 2px;
}


/* 底部logo */

.daily .logo>ul>li {
    float: left;
    height: 63px;
    width: 131px;
    margin-left: 2px;
    margin-bottom: 2px;
    text-align: center;
}

.daily .logo>ul>li>img {
    height: 63px;
    width: 131px;
}


/*10.===========推广商品=============*/

.promotion {
    margin-top: 34px;
    height: 826px;
}

.promotion .top {
    width: 1200px;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    border-bottom: 6px solid #ff6700;
}


/* 标题 */

.promotion .top .title {
    text-indent: 24px;
    font-size: 24px;
    font-weight: 300;
    color: #ff6700;
}


/* 右侧标题 */

.promotion .top ul li {
    height: 15px;
    width: 15px;
    background-color: #ccc;
    border-radius: 50%;
    float: left;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-right: 10px;
}


/* 右侧激活类 */

.promotion .top ul li.active {
    background-color: #ff6700;
    color: #fff;
}


/* 内容 */

.promotion .content {
    width: 1200px;
    height: 780px;
}


/* 外部盒子 */

.promotion .content .out-box {
    width: 1200px;
    height: 780px;
    /* 超出隐藏 */
    overflow: hidden;
}


/* 里面盒子 */

.promotion .content .out-box .inner-box {
    width: 2400px;
    height: 780px;
    /* 定位 */
    position: relative;
    left: 0;
}


/* 推广商品列表 */

.promotion .content .ads {
    width: 2400px;
    height: 780px;
    background-color: #fff;
}

.promotion .content .ads>ul>li {
    float: left;
    height: 351px;
    width: 228px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: #fff;
    text-align: center;
}

.promotion .content .ads>ul>li:hover {
    background-color: #f3f3f3;
}

.promotion .content .ads>ul>li>img {
    margin-top: 40px;
}

.promotion .content .ads>ul>li>p {
    text-align: left;
    font-size: 16px;
    margin-left: 28px;
    margin-top: 10px;
}

.promotion .content .ads>ul>li .price {
    font-size: 26px;
    color: red;
}

.promotion .content .ads>ul>li>p:last-child {
    font-size: 14px;
    color: #ccc;
}

.promotion .content .ads>ul>li>p:last-child>span {
    color: red;
}


/*11.=============尾部=========*/

.footer {
    height: 500px;
    border-top: 6px solid #ff6700;
    text-align: center;
}

.footer .ads {
    height: 100px;
    background-color: #ebebeb;
}

.footer .ads img {
    margin-top: 21px;
    margin-right: 55px;
}


/* 尾部列表 */

.footer .footer-list {
    height: 236px;
    font-size: 16px;
    margin-left: 232px;
}

.footer .footer-list div {
    margin-left: 61px;
    margin-top: 30px;
}

.footer .footer-list div>ul>li {
    margin-top: 10px;
    color: #353535;
}

.footer .footer-list div>ul>li:first-child {
    font-size: 18px;
    font-weight: 200px;
    color: #000;
}

.footer .footer-list div:last-child>img {
    margin-top: 39px;
}


/* 底部链接 */

.footer .link {
    height: 50px;
    margin-left: 239px;
    font-size: 15px;
    color: #353535;
}

.footer .link>div {
    width: 100px;
}

.footer .link>div:not(:last-child) {
    border-right: 1px solid #353535;
}

.footer .link .elink {
    width: 152px;
}

.footer>p {
    font-size: 16px;
    color: #353535;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/*=============二维码=========*/

.qr-code {
    width: 40px;
    height: 180px;
    background-color: red;
    /* 定位 */
    position: fixed;
    top: 185px;
    right: 0;
}

.qr-code p {
    width: 40px;
    height: 40px;
    background-color: pink;
}

.qr-code p img {
    width: 100%;
    height: 100%;
}

.qr-code p:nth-child(2) {
    height: 100px;
    background-color: purple;
}

.qr-code div {
    /* 定位 */
    position: absolute;
    top: 40px;
    left: 0px;
    z-index: -10;
}


/*=============顶部搜索框交互=========*/

.top-search-box {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: rgba(255, 123, 0, .8);
    /* 定位 */
    position: fixed;
    top: 0;
    left: 0;
    /* 默认隐藏 */
    display: none;
}

.top-search-box .search-box {
    width: 400px;
    height: 30px;
    line-height: 30px;
    background-color: #ff6700;
    margin: 10px auto;
    background: url('../img/img/bgicon.png');
    background-repeat: no-repeat;
    background-position: 356px -2px;
}

.top-search-box .search-box input {
    height: 26px;
    width: 360px;
    border: 2px solid #ff6700;
    outline: none;
    text-indent: 10px;
}

.top-search-box .search-box span {
    display: inline-block;
    width: 40px;
    height: 30px;
}


/* 楼层滚动 */

.floor {
    width: 40px;
    height: 200px;
    background-color: #f2f2f2;
    position: fixed;
    margin-left: 50%;
    left: -640px;
    top: 200px;
}

.floor li {
    width: 40px;
    height: 40px;
    overflow: hidden;
    /* 设置过渡效果 */
    transition: all 0.3s;
}

.floor li:hover {
    width: 80px;
    background-color: #93d56f;
    color: #fff;
}

.floor li img {
    width: 40px;
    height: 40px;
}


/*=============购物车=========*/

.nav .category-menu .delivery {
    width: 199px;
    height: 30px;
    margin-left: 984px;
}

.nav .category-menu .delivery select {
    background-color: #fff;
    border: 1px solid #ebebeb;
}