.product-detail {
    height: 500px;
    margin: 50px auto;
}

.product-detail .left-box {
    width: 340px;
    height: 470px;
    background: #fcfcfc;
}

.product-detail .right-box {
    width: 800px;
    height: 500px;
    background: pink;
}

.magnifier-container {
    height: 380px !important;
}