/* 购物车 */

.shopcart {
    height: auto;
    margin-top: 30px;
    margin-bottom: 35px;
}

.shopcart h3 {
    font-size: 24px;
    color: #ff6700;
    text-indent: 20px;
    font-weight: 500;
}

.shopcart table {
    height: auto;
    width: 1200px;
    text-align: center;
}

.shopcart table thead tr th {
    height: 60px;
    background-color: #f1f1f1;
    font-size: 17px;
    font-weight: 500;
    color: #333;
}

.shopcart .totalPrice {
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    background-color: #f1f1f1;
    margin-top: 20px;
    padding-left: 50px;
}


/* .shopcart .totalPrice input {
    margin-left: 10px;
}

.shopcart .totalPrice span {
    margin-right: 100px;
}

.shopcart .totalPrice span:first-of-type {
    margin-left: 100px;
} */


/* input[type=checkbox] {
    /* visibility: hidden; */


/* 
} */

*/ #input+label {
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    top: 2px;
    left: 15px;
    background: rgba(195, 122, 211, 1);
}

#input:checked+label::before {
    display: block;
    content: "\2714";
    text-align: center;
    font-size: 16px;
    color: white;
    background: rgba(195, 122, 211, 1);
}